<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= "Chris Dieckhaus | #{current_page.data.title}" %></title>
  <link rel="shortcut icon" href="images/favicon.ico"> 
  <link href='http://fonts.googleapis.com/css?family=Old+Standard+TT' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'>
  
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "all" %>
  <%= stylesheet_link_tag "foundation-icons/foundation-icons/foundation-icons.css" %>
  <%= javascript_include_tag  "vendor/modernizr" %>
  <%= javascript_include_tag  "vendor/jquery" %>
  <%= javascript_include_tag  "bootstrap.min" %>

</head>
<body>
  <%= partial 'namebox' %>
  <br>
  <%= partial 'navbar2' %>
  <%= yield %>

  
  <script>
    $(document).foundation();
  </script>
</body>
</html>