---
title: Scotland
---
= stylesheet_link_tag 'all'
= stylesheet_link_tag 'photo'
= stylesheet_link_tag 'header-white'
= stylesheet_link_tag 'scotland'

.row
  .small-1.column#list
  .small-3.column#list
    %ul
      %li
        = link_to "St Andrews", "https://www.flickr.com/photos/chrisdieckhaus/sets/72157647376824582/", :target => "_blank"
      %li
        = link_to "Edinburgh", "https://www.flickr.com/photos/chrisdieckhaus/sets/72157647891277226/", :target => "_blank"
      %li
        = link_to "Highlands", "https://www.flickr.com/photos/chrisdieckhaus/sets/72157648170517472/", :target => "_blank"
      