---
title: Portfolio
---
= javascript_include_tag 'portfolio'
= stylesheet_link_tag 'all'
= stylesheet_link_tag 'photo'
= stylesheet_link_tag 'code'
= stylesheet_link_tag 'portfolio'

%br

.container
	.row
		.col-lg-6.col-md-6.col-sm-6.col-sm-offset-0.col-xs-6.col-xs-offset-3#list
			%ul
				%li
					= link_to "Girls Engineering Change", "http://www.girlsengineeringchange.org", :target => "_blank", :id => "gec", :onmouseover => "mouseoverGEC()"
				%li
					= link_to "Das Boot", "https://dasboot.herokuapp.com", :target => "_blank", :id => "dasboot", :onmouseover => "mouseoverDasBoot()"
				%li
					= link_to "ScienceHub", "/portfolio/sciencehub", :target => "_blank"
				%li
					= link_to "Cookbook", "https://chris-cookbook.herokuapp.com", :target => "_blank"
				%li
					= link_to "Pray with Me", "https://chris-cookbook.herokuapp.com", :target => "_blank"
				%li
					= link_to "Reading Extension", "https://github.com/chrisdieckhaus/reading-extension", :target => "_blank"
		.col-lg-6.col-md-6.col-sm-6.col-sm-offset-0.col-xs-6.col-xs-offset-3#list
			%ul#imglist
				%img#change(src="/images/portfolio/gec.jpg")
				
