---
title: Portfolio
---
= javascript_include_tag 'portfolio'
= stylesheet_link_tag 'all'
= stylesheet_link_tag 'photo'
= stylesheet_link_tag 'code'
= stylesheet_link_tag 'portfolio'

%br

.container
	.row
		.col-lg-4.col-md-6.col-sm-6.col-sm-offset-0.col-xs-6.col-xs-offset-3#list
			%ul
				%li
					= link_to "Girls Engineering Change", "/portfolio/gec", :id => "gec", :onmouseover => "mouseoverGEC()"
				%li
					= link_to "Das Boot", "/portfolio/dasboot", :id => "dasboot", :onmouseover => "mouseoverDasBoot()"
				%li
					= link_to "ScienceHub", "/portfolio/sciencehub", :id => "scihub", :onmouseover => "mouseoverScienceHub()"
				%li
					= link_to "Cookbook", "/portfolio/cookbook", :id => "cookbook", :onmouseover => "mouseoverCookbook()"
				%li
					= link_to "Pray with Me", "/portfolio/pray", :id => "pray", :onmouseover => "mouseoverPray()"
				%li
					= link_to "Reading Extension", "/portfolio/extension"
				%li
					= link_to "GitHub", "https://github.com/chrisdieckhaus", :target => "_blank"
		.col-lg-8.col-md-6.col-sm-6.col-sm-offset-0.col-xs-6.col-xs-offset-3
			%ul#imglist
				%img#change
				
