---
title: ScienceHub
---
= javascript_include_tag 'portfolio'
= stylesheet_link_tag 'all'
= stylesheet_link_tag 'photo'
= stylesheet_link_tag 'code'
= stylesheet_link_tag 'portfolio'

.container
	.row
		.col-lg-4
			.row
				.col-xs-9.col-xs-offset-1.col-sm-6.col-sm-offset-2.col-md-4.col-md-offset-4.col-lg-12.col-lg-offset-0#hello
					%h2
						ScienceHub
			.row
				.col-xs-9.col-xs-offset-1.col-sm-6.col-sm-offset-2.col-md-4.col-md-offset-4.col-lg-12.col-lg-offset-0
					%p#about Part of a team at CGI Federal working on a Ruby on Rails application for the Environmental Protection Agency. Responsible for various improvements to the design and UI of the site, including the SDMP and QAPP status indicators. Worked on both front-end and back-end for project.
		.col-lg-8.navbar-link
			%img#change(src="/images/portfolio/scihub_home.png")
			%img#change(src="/images/portfolio/scihub_sdmp2.png")
			%img#change(src="/images/portfolio/scihub_create.png")
			%img#change(src="/images/portfolio/scihub_re.png")