= stylesheet_link_tag "header"
      
%a.large.button#name-header{ :href => "index.html" }
  Chris Dieckhaus
  
.row{:style => "height: 30px;"}
  .small-12.columns{:style => "text-align: center;"}
    .nav-content{:style => "font-family: Langdon; letter-spacing: 2px; "}
      %ul
        %li
          = link_to "About", "/about.html"
        %li 
          %span /
        %li
          = link_to "Photography", "/photo.html"
        %li 
          %span /
        %li
          = link_to "Code", "/code.html"
        %li 
          %span /
        %li
          = link_to "Contact", "/contact.html"
