= stylesheet_link_tag "header"
  
.row#nav{:style => "height: 40px;"}
  .small-12.columns{:style => "text-align: center; margin-top: 10px;"}
    .nav-content
      %ul
        %li
          = link_to "About", "/about.html"
        %li 
          %span /
        %li
          = link_to "Photography", "/photos/index.html"
        %li 
          %span /
        %li
          = link_to "Code", "/code.html"
        %li 
          %span /
        %li
          = link_to "Contact", "/contact.html"
        
