= stylesheet_link_tag "header"
  
.row#nav{:style => "height: 40px; padding-bottom: 30px;"}
  .small-12.columns{:style => "text-align: center; margin-top: 10px;"}
    .nav-content{:style => "font-family: Langdon, Arial, sans-serif; letter-spacing: 2px; "}
      %ul
        %li
          %a.small.button#name-header{ :href => "/index.html" }
            Chris Dieckhaus
        %li
          = link_to "Photography", "/photo.html"
        %li 
          %span /
        %li
          = link_to "Code", "/code.html"
        %li 
          %span /
        %li
          = link_to "Blog", "/blog.html"
        %li 
          %span /
        %li
          = link_to "Contact", "/contact.html"