---
pageable: true
per_page: 10
title: Blog
---
= stylesheet_link_tag 'blog-post'
= stylesheet_link_tag 'blog-list'

.row{:style => "height:30px;"}

- if paginate && num_pages > 1 
  %p 
    Page 
    = page_number 
    of 
    = num_pages

  - if prev_page 
    %p= link_to 'Previous page', prev_page


.row#blog-post{:style => "padding-bottom: 150px;"}
  .small-8.columns{:style => ""}
    - page_articles.each_with_index do |article, i|
      %a
        .small.button#article-header-list
          = link_to article.title, article
        %article#summary
          = article.summary(250)
  .small-4.columns
    %ul
      - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
        %li
          .small.button#article-header-list
            = year
        %ul
          - articles.each do |article|
            %li#art
              = link_to article.title, article
            
- if paginate 
  - if next_page 
    %p= link_to 'Next page', next_page