---
pageable: true
per_page: 10
title: Blog
---
= stylesheet_link_tag 'blog_post'

- if paginate && num_pages > 1 
  %p 
    Page 
    = page_number 
    of 
    = num_pages

  - if prev_page 
    %p= link_to 'Previous page', prev_page

- page_articles.each_with_index do |article, i|
  .row#blog-post
    .small-12.columns
      %a
        .large.button#article-header-list
          = link_to article.title, article, {:style => "color: white"}
  .row#blog-post
    .small-12.columns
      %article#summary
        = article.summary(350)

- if paginate 
  - if next_page 
    %p= link_to 'Next page', next_page