---
title: Code
---
= stylesheet_link_tag 'all'
= stylesheet_link_tag 'about'
= stylesheet_link_tag 'code'

.row
  .row#bg
  .row#text
    .small-4.column#hello
      = link_to "Girls Engineering Change", "www.girlsengineeringchange.org"
    .small-4.column#hello
      = link_to "Das Boot", "chrisdieckhaus.github.io/dasboot"
    .small-4.column#hello
      = link_to "Pray with Me", "chrisdieckhaus.github.io/pray"

  .row#text
    .small-4.column#about
      Designed Rails-based website for Durham, NC-based non-profit that aims to shrink the 7:1 male-female gender gap in the Science, Technology, Engineering, and Math fields.
    .small-4.column#about
      Middleman-based website for Krzyzewskiville tenting group.
    .small-4.column#about
      Simple Javascript prayer book web application.