---
title: Home
---
= javascript_include_tag 'index'
= stylesheet_link_tag 'index'

.row{:style => "padding-top: 30px;"}
  %ul#slider
    %li 
      = image_tag 'images/front-page/chapel.jpg'
    %li 
      = image_tag 'images/front-page/alleluia.jpg'
    %li 
      = image_tag 'images/front-page/nyc.jpg'
    %li 
      = image_tag 'images/front-page/aspens.jpg'
    %li
      = image_tag 'images/front-page/cameron.jpg'
    %li 
      = image_tag 'images/front-page/snowboard.jpg'
    %li 
      = image_tag 'images/front-page/wanderlust.jpg'