---
title: Photography
---
= stylesheet_link_tag 'all'
= stylesheet_link_tag 'photo'
= stylesheet_link_tag 'header-white'

.row
  .small-5.column#list
    %ul
      %li
        = link_to "Durham", "https://www.flickr.com/photos/chrisdieckhaus/sets/72157644668341909/", :target => "_blank"
      %li
        = link_to "Deus", "https://www.flickr.com/photos/chrisdieckhaus/sets/72157644135568672/#", :target => "_blank"
      %li
        = link_to "Colorado", "https://www.flickr.com/photos/chrisdieckhaus/sets/72157644137121491/", :target => "_blank"
      %li
        = link_to "NYC", "https://www.flickr.com/photos/chrisdieckhaus/sets/72157647105487121/", :target => "_blank"
      %li
        = link_to "Hot Springs", "https://www.flickr.com/photos/chrisdieckhaus/sets/72157646711138650/", :target => "_blank"
      %li
        = link_to "Portraits", "https://www.flickr.com/photos/chrisdieckhaus/sets/72157646716125728/", :target => "_blank"